Source: tmate
Section: admin
Priority: optional
Maintainer: Nicolas Viennot <nicolas@viennot.biz>
Uploaders: Nicolas Viennot <nicolas@viennot.biz>
Build-Depends: dpkg-dev(>= 1.10),
               debhelper,
               libncurses5-dev,
               libevent-dev,
               pkg-config,
               dh-autoreconf,
               libtool,
               libutempter-dev,
               libmsgpack-dev (>= 1.1.0),
               libssh-dev (>= 0.6.0),
               cmake,
               libssl-dev,
               zlib1g-dev,
               ruby,
Standards-Version: 3.9.4
Homepage: http://tmate.io/
Vcs-Browser: https://github.com/nviennot/tmate
Vcs-Git: git://github.com/nviennot/tmate.git

Package: tmate
Architecture: any
Conflicts: tmate-nightly
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fork of tmux, provides an instant pairing solution
 tmate is a fork of tmux. tmate and tmux can coexist on the same system, they
 do not conflict with each other.
